<nav class="navbar navbar-light bg-light justify-content-between bg-dark">
  <div class="container">
    <div>
      <a href="javascript:void(0)" (click)="logoClick()" class="navbar-brand text-white">Home</a>
      <ng-container *ngIf="this.userInfo?.data?.currentUser !== null">
        <span class="span-item">userId: {{ this.userInfo?.data?.currentUser?.name }}</span>
        <span class="span-item">amount: {{ finalAmount }}</span>
      </ng-container>
    </div>

    <ng-container *ngIf="this.userInfo?.data?.currentUser === null; else logout">
      <button (click)="logIn()" type="button" class="btn btn-success">Log In</button>
    </ng-container>
    <ng-template #logout>
      <button (click)="logOut()" type="button" class="btn btn-danger">Log Out</button>
    </ng-template>
  </div>
</nav>
