.background{
  width: 100%;
  height: 100%;
  min-height: 300px;
  background-position: center;
  background-repeat:  no-repeat;
  background-size: cover;
}
.card-item{
  margin-top: 20px;
}

//@use postcss-cssnext;
//:root {
//  --min-size: 2px;
//  --max-size: 20px;
//}
.card{
  //display: flex;
  //height: 100vh;
}
.backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: linear-gradient(45deg, #6200ea, #d500f9);
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dot {
  background: white;
  margin: 5px;
  animation-name: loader;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.dot:nth-child(1) {
  animation-delay: 0.2s;
}
.dot:nth-child(2) {
  animation-delay: 0.4s;
}
.dot:nth-child(3) {
  animation-delay: 0.6s;
}
.dot:nth-child(4) {
  animation-delay: 0.8s;
}
.dot:nth-child(5) {
  animation-delay: 1s;
}

@keyframes loader {
  from {
    width: var(--min-size);
    height: var(--min-size);
    border-radius: calc(var(--min-size) / 2);
  }
  to {
    width: var(--max-size);
    height: var(--max-size);
    border-radius: calc(var(--max-size) / 2);
  }
}
