<div class="container">
  <div class="card">
    <h5 class="card-header">Boxes</h5>
    <div class="card-body">
      <div class="row" *ngIf="boxes$ | async; else loading">
        <div class="col-sm-3 card-item" *ngFor="let box of boxes$ | async">
          <div class="card-item-wrapper">
            <div
              class="background"
              [style.backgroundImage]="'url(' + box?.node?.iconUrl + ')'"></div>
            <div class="card-body">
              <h5 class="card-title">{{ box?.node?.name }}</h5>
              <p class="card-text"><span>cost: </span> {{ box?.node?.cost }}</p>
              <a [routerLink]="['/grid/', box?.node?.id]" class="btn btn-primary">Item Detail</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #loading>
    <h1>loading...</h1>
  </ng-template>
</div>
