<div class="card container">
  <h5 class="card-header">Boxes</h5>
  <div class="card-body">
    <div class="row" *ngIf="box$ | async as box">
      <div class="col-sm-12 card-item">
        <div class="card-item-wrapper">
          <div class="background" [style.backgroundImage]="'url(' + box?.node?.iconUrl + ')'"></div>
          <div class="card-body">
            <h5 class="card-title">{{ box?.node?.name }}</h5>
            <p class="card-text"><span>cost: </span> {{ box?.node?.cost }}</p>
            <button
              class="btn btn-primary open-box"
              [class.disable]="loading"
              (click)="openBox(box)">
              <span *ngIf="loading">Loading...</span>
              <span *ngIf="!loading">Open Box</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="results" class="alert alert-success" role="alert">
    <h1>Congratulation</h1>
    <div>item name: {{ results?.openBox?.boxOpenings[0]?.itemVariant?.name }}</div>
    <div>item price: {{ results?.openBox?.boxOpenings[0]?.itemVariant?.value }}</div>
  </div>
</div>
