.background {
  width: 100%;
  height: 100%;
  min-height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.card-item {
  margin-top: 20px;
}

.open-box.disable {
  cursor: not-allowed;
  pointer-events: none;
}
